{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set rand = random() %}

<div class="col-12 mb-0">
    <select
        id="dropdown_{{ rand }}"
        name="{{ input_name }}{{ is_multiple ? '[]' : '' }}"
        class="form-select select2"
        aria-label="{{ label }}"
        {{ is_multiple ? 'multiple' : '' }}
    >
        {% for uuid, text in initial_values %}
            <option value="{{ uuid }}" selected>{{ text }}</option>
        {% endfor %}
    </select>
</div>

<script>
(function() {
    var el = $('#dropdown_{{ rand }}');
    el.select2({
        ajax: {
            url:      '{{ ajax_url|e('js') }}',
            type:     'POST',
            dataType: 'json',
            delay:    250,
            data: function(params) {
                return {
                    searchText:  params.term || '',
                    page:        params.page || 1,
                    page_limit:  50,
                    question_id: '{{ question_id|e('js') }}',
                };
            },
            processResults: function(data) {
                return { results: data.results, pagination: data.pagination };
            },
        },
        allowClear:  true,
        placeholder: '',
        width:       '100%',
        multiple:    {{ is_multiple ? 'true' : 'false' }},
    });
})();
</script>
